/*!

 ___                  ___
 \__\                /  /
   ___      /\      /  /
   \  \    /  \    /  /
    \  \  /    \  /  /
     \  \/  /\  \/  /
      \    /  \    /
       \  /    \  /
        \/      \/

Written by @iestynw

*/



@import "html5-reset"
@import "font-awesome"
@import "util"

.widthCalculator
    position fixed
    bottom 0
    right 0
    background #1ABC9C
    color #34495E
    padding 0.5em
    font-family 'Futura'


/*——————————————————————————————————————————————————————————————————————————————
C O M M O N 
——————————————————————————————————————————————————————————————————————————————*/


// Colours
yellow = #F8F400
green = #53C514
green_dark = #5A923A
purple = #5F3EF9
blue = #1424C5

white = #F5F5F5
grey = #698794
grey_fade = #92B4C2
black = #373637

bg_light = #E9E9E9
bg_dark = #414141



// Typography
font_body = "ff-tisa-web-pro", serif // 400 700
font_heading = "futura-pt", "Futura", sans-serif // 300 400 500 700 800


// Grid
$column = 100%/18
$gutter = 0.75em


/*——————————————————————————————————————————————————————————————————————————————
G L O B A L S
——————————————————————————————————————————————————————————————————————————————*/

*
    vendor(box-sizing, border-box)


.container
    max-width 60em
    margin 0 auto

body
    font-family font_body
    color black
    background-color bg_light

img
    width 100%

h1
h2
h3
h4
    font-family font_heading
    margin 0.5em 0

h1
    font-size 2em
    text-align center
h2
    font-size 1.5em
h3
    font-size 1.25em

hr
    border-bottom 3px solid yellow
    border-top 1px solid lighten(bg_dark, 70%)

section
    clear both
    &.no-padding
        padding 0


.section__title
    text-transform uppercase


/*——————————————————————————————————————————————————————————————————————————————
S L I D E R
——————————————————————————————————————————————————————————————————————————————*/

.swipe
    overflow hidden
    visibility hidden
    position relative

.swipe-wrap
    overflow hidden
    position relative

.swipe-wrap > div
    float left
    width 100%
    position relative

.swipe-controls
    .control--left
    .control--right
        display inline-block
        background-color bg_dark
        color bg_light
        position absolute
        bottom 1px
        z-index 1000
        padding 0.5em 0.75em
        opacity 0.5
        cursor pointer
        transition()
        &:hover
        &:active
            opacity 1
    .control--left
        left 0
    .control--right
        right 0



/*——————————————————————————————————————————————————————————————————————————————
S P E C F I C
——————————————————————————————————————————————————————————————————————————————*/


.header
    margin 1em $column
    text-align center
    h1
        font-size 1.75em
        font-weight 700
        text-transform uppercase
        color black
        margin 0
        padding 0
        text-align center

        .logo
            display block
            margin 0.5em auto
            width 3em
            vertical-align middle

    nav
        clear both
        ul
            display inline-block
            background-color bg_dark
            border-radius 5px
            font-family font_heading
            font-weight 700
            text-transform uppercase
            text-align center
            font-size 1.25em
            margin 1em 0 0
        li
            display inline-block
            padding 0.25em 0.5em
        a
            display inline-block
            color bg_light
            text-decoration none
            border-bottom 2px solid yellow
            margin 0.15em

    @media(min-width: 32em)
        margin 1em $column
        h1
            line-height 25%
            margin-bottom 0.5em
            .logo
                position relative
                top 0.5em
                display inline-block
                margin 0
                margin-right 0.5em
                width 2.5em
    @media(min-width: 39em)
        h1
            margin-bottom 0
            .logo
                position static
                vertical-align middle
    @media(min-width: 47em)
        h1
            width 55%
            display inline-block
            float left
            line-height 100%
            text-align left
            margin-bottom 0.25em
            .logo
                vertical-align baseline
                width 3em
                float left
        nav
            display inline-block
            width 45%
            ul
                margin 0.5em

.section--profiles
    width 100%
    padding 0 $column
.profile
    text-align center
    padding 1em 0
    h2
        font-size 1.75em
        font-weight 300
    p
        margin-bottom 0.5em
    @media(min-width:39em)
        width 50%
        display inline-block
        vertical-align top
        padding 0

.profile__image
    position relative
    z-index 2
    border-radius 100%
    width 100%
    max-width 9.75em
    display inline-block
    overflow hidden

    img
        position relative
        z-index -100
        height 100%
        max-height 9.75em
        border-radius 100%

.profile__quote
    text-align left
    font-weight 300
    margin 1em ($column/2)
    padding 0.5em ($column/2)
    border-radius 5px
    line-height 1.5em
    background-color rgba(white, 0.75)
    color lighten(black, 10%)
    clear both


.srp
    clear both
    padding 1em $column
    text-align left

    h2
    h3
        font-size 1.5em
        line-height 1.5em
        font-weight 200
        font-family font_body

        em
            color green
    h2
        font-family font_heading
        font-weight 600
        font-size 2.5em
        line-height 1.2em
        margin 0.5em 0
        text-shadow 0 0.125em 0.5em rgba(grey, 0.35)

    @media(min-width: 45em)
        position relative
        z-index 10
        margin 0 $column
        border-radius 5px
        margin-top -10em
        margin-bottom 2em
        box-shadow 0 0 3em rgba(grey, 0.5)
        background-color bg_light

.section--qual
    text-align center
    padding-bottom 1em
    img
        width 5em
        margin 0.25em
        display inline-block

.section--prices
    text-align center
    margin 0 $column
.price--small
.price--large
    width 30%
    max-width 8em
    display inline-block
    margin 0
    vertical-align middle
    background-color white
    padding 0.25em
    background-color darken(bg_light, 5%)
    color bg_dark
    border 0.1em solid rgba(green, 0.7)
    border-radius 4px
    box-shadow 0 0.25em 1em darken(bg_light, 15%)
    .session
        font-size 90%
    .price
        color lighten(bg_dark, 20%)
        font-size 60%
        .price__amount
            color bg_dark
            font-size 3em
            font-family font_heading
            display block
            margin 0.5em 0 0
        .price__total
            display block
            font-size 70%
            margin-top 2em
            color lighten(bg_dark, 30%)
.price--small
    border 0.1em solid darken(bg_light, 10%)
.price--large
    width 40%
    position relative
    z-index 5
    font-size 1.25em
    .price__amount
        font-weight 700
    .price span
        // 
.price__discount
    clear both
    padding 1em
    font-size 80%
    color lighten(bg_dark, 50%)

@media(min-width: 32em)
    .price__container
        font-size 120%

@media(min-width: 42em)
    .price--large
        margin 0 0.25em
    .price__container
        font-size 140%




.section--contact
    margin 0 $column


footer
    font-family font_heading
    text-align center
    background bg_dark
    color lighten(bg_dark, 20%)
    padding 2em $column
    a
        display inline-block
        opacity 0.2
        transition()
        &:hover
        &:active
            opacity 1
    img
        width 2em
        margin-top 1.5em