doctype 5
html(lang='en')
    
    head
        //- Give some love to IE
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")

        //- This is pretty important, too
        meta(charset="utf-8")

        //- Get the responsive ball rolling
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Typekit for lovely webfonts
        script(type="text/javascript", src="//use.typekit.net/plg3pnk.js")
        script(type="text/javascript")
            try{Typekit.load();}catch(e){}

        title Be Your Best Personal Training

        //- Link to all the assets...
        link(rel='stylesheet', type='text/css', href='styles.css')

        //- Google analytics
        //- 

        //- Livereload script
        | <script src="http://localhost:35729/livereload.js"></script>


    body
        .container
            header.header
                h1
                    img.logo(src='/images/bybpt_logo_large.png')
                    | Be Your Best Personal Training

                nav
                    ul
                        li: a(href='#team') Team
                        li: a(href='#prices') Prices
                        li: a(href='#contact') Contact
                        

            section.section--slider.no-padding
                .swipe
                    .swipe-wrap
                        div
                            img(src='/images/slide1.jpg')
                        div
                            img(src='/images/slide2.jpg')
                        div
                            img(src='/images/slide3.jpg')
                        div
                            img(src='/images/slide4.jpg')
                    .swipe-controls
                        .control--left: i.icon-angle-left
                        .control--right: i.icon-angle-right



            section.section--srp
                .srp
                    :markdown
                        ## Lifestyle changes can be daunting. We can help.
                        ### We're here to help *develop* knowledge, *support* you when it's needed most and *motivate* you to be your best.

            section.section--profiles
                .section__title#team
                    h1 Meet the team
                .profile
                    .profile__image
                        img(src='/images/profile_lucy.png')
                    h2 Lucy
                    .profile__quote
                        :markdown
                            "With years of experience of one to one personal training I have a developed a very holistic approach: firmly believing that if the cycle of sleeping, moving, eating, hydrating and managing life can be balanced correctly, our general well being will be vastly improved. 
                            
                            My background involves a mixture of gymnastics, mountain biking, fell running, mountaineering and weight lifting.

                            I have lots of energy and enthusiasm teamed with a deep interest in people, human movement and mindset."

                .profile
                    .profile__image
                        img(src='/images/profile_rhodri.png')
                    h2 Rhodri
                    .profile__quote
                        :markdown
                            "My sporting background extends back as far as I can remember, with sport being an instrumental part of my life from a very young age. My sporting history includes playing football for a semi-professional club as well as trials at international levels.

                            As well as a keen footballer, during my youth days I competed to a high standard in rugby and both track and field in athletics.
                            
                            Having a career linked to sport, fitness and wellbeing is something I’ve always strived towards, so the obvious step for me was taking a degree in this field, and I achieved this by gaining a BSc (hons) (Bachelor of Science) in Sport and Physical Education at UWIC."

            section.section--qual
                .section__title
                    h1 Qualifications
                    :markdown
                        ![Placeholder](http://placehold.it/90x130.png)
                        ![Placeholder](http://placehold.it/90x130.png)
                        ![Placeholder](http://placehold.it/90x130.png)
                        ![Placeholder](http://placehold.it/90x130.png)
                        ![Placeholder](http://placehold.it/90x130.png)
                        ![Placeholder](http://placehold.it/90x130.png)
                        ![Placeholder](http://placehold.it/90x130.png)
                        ![Placeholder](http://placehold.it/90x130.png)


            section.section--prices#prices
                .section__title
                    h1 Prices
                .price__container
                    .price--small
                        .session 5 x sessions
                        .price 
                            .price__amount &pound;26 
                            .price__time per hour
                            .price__total (&pound;130)
                    .price--large
                        .session 10 x sessions
                        .price 
                            .price__amount &pound;23 
                            .price__time per hour
                            .price__total (&pound;230)
                    .price--small
                        .session 20 x sessions
                        .price 
                            .price__amount &pound;20 
                            .price__time per hour
                            .price__total (&pound;400)
                    .price__discount 20% off for students

            section.section--contact#contact
                .section__title
                    h1 Contact Us
                #wufoo-r7x2s9"
                    | Form not showing? Fill it out <a href="http://iestynw.wufoo.com/forms/r7x2s9">here</a>.
                script(type="text/javascript")
                    var r7x2s9;(function(d, t) {
                    var s = d.createElement(t), options = {
                    'userName':'iestynw', 
                    'formHash':'r7x2s9', 
                    'autoResize':true,
                    'height':'437',
                    'async':true,
                    'header':'hide'};
                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                    s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { r7x2s9 = new WufooForm();r7x2s9.initialize(options);r7x2s9.display(); } catch (e) {}};
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');

            footer
                p Copyright Be Your Best Personal Training &copy; 2013
                a(href='http://iestynwilliams.net'): img(src='/images/iw.svg', alt='By Iestyn Williams')
        script(src='app.min.js')