doctype 5
html(lang='en')
    
    head
        //- Give some love to IE
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")

        //- This is pretty important, too
        meta(charset="utf-8")

        //- Get the responsive ball rolling
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Typekit for lovely webfonts
        script(type="text/javascript", src="//use.typekit.net/plg3pnk.js")
        script(type="text/javascript")
            try{Typekit.load();}catch(e){}

        title Be Your Best Personal Training

        //- Link to all the assets...
        link(rel='stylesheet', type='text/css', href='styles.css')

        //- Google analytics


        //- Width thingy
        script(src='app.min.js')


    body
        section
            h1 Be Your Best Personal Training