doctype 5
html(lang='en')
    
    head
        title Be Your Best Personal Training
        meta(name="description",content="Personal Training based in Cardiff")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Typekit for lovely webfonts
        script(type="text/javascript", src="//use.typekit.net/plg3pnk.js")
        script(type="text/javascript")
            try{Typekit.load();}catch(e){}

        //- Link to all the assets...
        link(rel='stylesheet', type='text/css', href='styles.css')

        //- Google analytics
        script(type="text/javascript")
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-25755082-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        //- Livereload script
        | <script src="http://localhost:35729/livereload.js"></script>


    body.not-loaded
        .container
            header.header
                h1
                    img.logo(src='/images/bybpt_logo.png')
                    | Be Your Best Personal Training

                nav.header-nav
                    ul
                        li: a(href='#team') Team
                        li: a(href='#prices') Prices
                        li: a(href='#contact') Contact
                nav.floating-nav
                    ul
                        li: a(href='#team') Team
                        li: a(href='#prices') Prices
                        li: a(href='#contact') Contact
                        
            section.section--srp
                .social
                    a(href='http://www.facebook.com/pages/Be-Your-Best-Personal-Training/197244930321385'): i.icon-facebook-sign
                    a(href='https://twitter.com/BeYourBestPT'): i.icon-twitter-sign
                    a(href='http://www.youtube.com/channel/UCgycfjPH7Q1gkfiGdnnWZJQ/videos'): i.icon-youtube-sign
                .srp
                    :markdown
                        ## Lifestyle changes can be daunting. We can help.
                        ### We're here to help **develop** knowledge, **support** you when it's needed most and **motivate** you to be your best.

                    .toggleable
                        a(href='#readmore').button.toggle
                            i.icon-arrow-down 
                            | Read More
                        .toggleable__inner

            section.section--slider.no-padding
                .swipe.image-slider
                    .swipe-wrap
                        div
                            img(src='/images/group.jpg')
                        div
                            img(src='/images/slider1.jpg')
                        div
                            img(src='/images/slider8.jpg')
                        div
                            img(src='/images/slider2.jpg')
                        div
                            img(src='/images/slider10.jpg')
                        div
                            img(src='/images/slider3.jpg')
                        div
                            img(src='/images/slider4.jpg')
                        div
                            img(src='/images/slider5.jpg')
                        div
                            img(src='/images/slider6.jpg')
                        div
                            img(src='/images/slider7.jpg')
                    .swipe-controls
                        .control--left: i.icon-angle-left
                        .control--right: i.icon-angle-right

            hr#readmore
            section.section--read
                :markdown
                    Whether it’s fat loss, toning, gaining muscle, improving your fitness level for an event or merely personal satisfaction; we can educate and motivate you in a fun, unintimidating environment where your goals and enjoyment are our number one priority. We pride ourselves in delivering quality advice and practical knowledge on nutritional needs paramount to weight loss as well as technical guidance and coaching for a more sport specific strength and conditioning approach.

                    With years of experience in the fitness industry we are currently based in the Roath area of Cardiff. We also cover surrounding areas reaching the more rural towns and villages bordering the city. Be Your Best Personal Training offers one to one or small group personal training sessions. These can be taken at your home, outside or at the gym.

                    If you are concerned about coming to use a public gym we can bring the gym to you! Myself and Rhodri have all the equipment needed to fulfil your training needs without you having to leave the house!

                    The outdoor sessions, often held in parks or local forestry areas can be mixed with gym sessions. They are a great way to get some fresh air and give you a different aspect to your exercise needs.

                    All gym training sessions are based in the Roath area of Cardiff in a local, friendly gym. People of all abilities are welcomed and encouraged here.

            hr#team
            section.section--profiles
                .section__title
                    h1 Meet the team
                .profile
                    .profile__image
                        img(src='/images/profile_lucy.jpg')
                    h2 Lucy
                    .profile__quote
                        :markdown
                            With years of experience working closely on a one to one basis with my clients I have a developed a very holistic approach: firmly believing that if the cycle of sleeping, moving, eating, hydrating and managing life can be balanced correctly, our general well being will be vastly improved. Becoming fitter and healthier will greatly improve all aspects of life.

                            My background involves a mixture of mountain biking and hiking. Also gymnastics, running and weightlifting. I am a very keen mountain runner, spending much of my spare time training for various challenges; previously completing multiple day off road marathon events.

                            I have lots of energy and enthusiasm teamed with a deep interest in people, human movement and mindset.

                .profile
                    .profile__image
                        img(src='/images/profile_rhodri.jpg')
                    h2 Rhodri
                    .profile__quote
                        :markdown
                            "My sporting background extends back as far as I can remember, with sport being an instrumental part of my life from a very young age. My sporting history includes playing football for a semi-professional club as well as trials at international levels.

                            As well as a keen footballer, during my youth days I competed to a high standard in rugby and both track and field in athletics.
                            
                            Having a career linked to sport, fitness and wellbeing is something I’ve always strived towards, so the obvious step for me was taking a degree in this field, and I achieved this by gaining a BSc (hons) (Bachelor of Science) in Sport and Physical Education at UWIC."

                //- a(href='#readmore').button.toggle
                //-     i.icon-trophy 
                //-     | Read Our testimonials

                .swipe-controls--testimonial
                        .counter
                        .control--left
                            i.icon-chevron-sign-left 
                            | Previous
                        .control--right
                            | Next 
                            i.icon-chevron-sign-right
                .swipe.testimonial-slider
                    .swipe-wrap
                        div
                            :markdown
                                > I have found having Lucy as a personal trainer very beneficial. She was very motivating and tailored exercise to me.

                                > In the past I admit I was very lazy. I didn't push myself and got very bored. I was the only person I knew that could go to the gym for an hour and not break out a sweat. This was a total waste of time and money. Now all that has changed, I find the workouts that Lucy gets me to do are productive and motivating. I feel that I actually achieve something after each session"
                                
                                *E.Watkins*

                        div
                            :markdown
                                > I had a great time training with Rhodri. I used to go to the gym regularly but never really knew what I should be doing to improve my strength and overall fitness and my training sessions were quite haphazard and lacked structure. Having Rhodri as a Personal Trainer gave me the confidence to work for the rest of the week on the goals set by Rhod. He is always friendly and encouraging but at the same time made sure to push me when he saw me trying to slack!

                                > His sessions are well structured and tailored to your personal goals and current fitness level and they were varied enough that I never got bored. It was also an added bonus, as a Welsh speaker, to be able to have our training sessions in Welsh. Overall Rhod is a legend and I'd personally be happy to recommend Be Your Best Personal Training to anyone.

                                *L.Holland*

                        div
                            :markdown
                                > Booking training sessions with Lucy is one of the best things I have ever done in my life!
                                > She gets me to do things I never thought id be able to do and that makes me feel alive and kicking!!

                                *K. Hughes*

                        div
                            :markdown
                                > I started training with Rhodri at the beginning of the year in an attempt to trim down before the summer and generally feel more confident!

                                > After having a chat and explaining what I hoped to gain from training, Rhodri prepared an excellent personal training program tailored specifically to me and what I aimed to achieve.

                                > Having never been near weights in my life, I was pretty nervous, but Rhodri's patience and brilliant instructions helped me through and in no time I was lifting weights I never imagined I'd be able to!

                                > I noticed a huge change in my body shape and fitness levels within a relatively short period of time.

                                > I definitely recommend Be Your Best Personal Training, whether you've completely new to exercise or trying to get back in to it like myself!

                                *J.P.Hothi*

                        div
                            :markdown
                                > I did the first session with Lucy without her even knowing about it!  I was struggling to get myself round the Cardiff 10k in 2011 and fell in step behind Lucy who was running with a client.  I liked her way of encouraging her and motivating her on the route and I followed them round, memorizing her number as I ran.

                                > Since then, Lucy has become indispensable!!

                                > I see her weekly in the gym but I have also done some class sessions with her in the park and my friend and I have been running uphill in the forest in Cwm Carn with Lucy.  I’ve lost the weight and regained the energy, which were my initial goals, but I’ve also become healthy enough to conceive at the first attempt.  My son is now 3 months old and I continued to see Lucy weekly until the week before birth, meaning that I had no back pain or other aches throughout the pregnancy.  I also had stamina and strength for labour and my postnatal recovery was rapid despite the fact that I needed an emergency Caesarean.  Lucy came to see me in the house from 6 weeks and in September I did the Cardiff 10k again, this time pushing my 13 weeks old son on the way round.  More importantly, I’ve been back in my skinny jeans since 10 weeks after giving birth!

                                *A.Iorwerth*

                        div
                            :markdown
                                > My experience with Be Your Best Personal Training has been brilliant. All it took was a quick phone call and a meeting to discuss my goals. Rhodri took me through the Personal Training experience as a whole and summarised what my specific programme would entail, followed by a brief tour at Dave's Gym itself afterwards.

                                > The entire staff are and continue to be extremely welcoming and helpful, which I feel really counts as part of the experience and encourages you to keep going.You really do get the feeling of being in a friendly atmosphere.

                                >I found that there's a programme for everyone no matter what their goals are and the staff are very co-operative and tailor your training to suite your needs without interfering with your daily routine. I am very happy with my own results so far as well as the overall experience and will highly recommend Be Your Best to everyone, no matter what their goals may be.

                                *D.McGill*

                        div
                            :markdown
                                > I started training with Lucy because I had hurt my knee, could not run and was getting married in four months. From the word go Lucy was wonderful, making sure she was clear on my goals and priorities. Her approachable and warm personality put me at my ease very quickly and her clear direction allowed me to improve my techniques at every session.

                                > I could clearly see my fast rate of progress as Lucy stretched me to achieve my wedding goals. Training with Lucy goes well beyond simple fitness. I look forward to every session and Lucy's excellent, varied training regime and coaching approach mean I feel 'healed' even after the hardest day at work. Lucy does not shout, she encourages, enthuses and celebrates success.

                                > I would not hesitate to recommend Lucy to anyone. As my husband said after only 2 workouts with Lucy, "I can now understand why you like it so much."

                                *C. Bedford*

                        div
                            :markdown
                                > I have been training with Lucy Morris of “Be Your Best Personal Training” for the last 10 ½ months with the primary goal of losing weight. When I started  I weighed 13 stone 9lbs, and was officially classed as obese. My weight caused me a number of issues but it primarily affected my self-esteem. I hated seeing photographs of myself and never felt attractive – I was desperate to lose weight and very unhappy.
                                > My goal was to lose 4 stone in weight.
                                > With a combination of exercise and eating the right foods, I immediately saw the weight start to fall off.

                                > Sessions with Lucy were always varied so we didn't get bored. Some days we’d do cardio circuits that pushed us extremely hard while on other days we would  learn and perfect  new weight lifting techniques from Squats to Deadlifts.  While the sessions weren't always fun (burpees are never fun), I was never bored and always went home feeling like I had been pushed and worked hard. Losing weight provided extra motivation to keep working hard – the complements I was getting from friends and family helped too!

                                > Having tried numerous fad diets and exercising on my own nothing had previously worked.  I was initially sceptical about seeing a personal trainer but I can honestly say that it was the best decision I (well my husband) has ever made. Not only does Lucy teach you the best exercises she also educates you on the right types of food to eat. Changing habits that had developed over years were initially hard to break but Lucy was always there to motivate and offer support. 

                                > I now weight 10 s 4lbs and still have 9lbs to lose but I am very happy with my progress and the results that I have achieved so far. If someone had told me a year ago that I would be running 2km to the gym and then completing a training session involving Deadlifting 50kg and bench pressing 20kg I would have laughed at them – but that is exactly where I am and it is all thanks to Lucy! I can now fit into size 12 clothes.

                                > If you are thinking of booking personal training sessions for weight loss then I couldn’t recommend Lucy more! She is friendly, cheerful, knowledgeable, motivating, encouraging and she takes a big personal interest in her clients. Whenever I was having a bad day Lucy was there to remind me how well I was doing and to get me back on the right track. Losing the amount of weight that I have has taken time but I’ve done it the healthy way. While there has been room for the odd treat from time to time (takeaway, cake, alcohol etc) there have been some big lifestyle changes that I have implemented, all of which have definitely been worth it.

                                > I now feel much happier and more confident in myself and the way I look and I feel confident that once I reach my target weight I will be able to maintain it thanks to everything that Lucy has taught me. Don’t hesitate to book a training session with Lucy – it will be the best decision you make all year!
                                
                                *Sophie Marsden*

        hr
        .container
            section.section--qual
                .section__title
                    h1 Qualifications
                .profile
                    .qual__prose
                        h2 Lucy's:
                        :markdown
                            * NASM Certified Personal Trainer Level 3
                            * GP Referral
                            * Exercise Prescription for Pre and Post Natal Clients
                            * Gym Instructor Level 2
                            * Advanced Nutrition for Weight Management

                            Additional Courses:

                            * Basic Counselling skills Level 1
                            * Substance Misuse Level 1

                .profile
                    .qual__prose
                        h2 Rhodri's:
                        :markdown
                            * Personal Trainer Level 3
                            * BSc (Hons) Sport and Physical Ecucation
                            * Advanced Gym Instructor Level 2
                            * First Aid Qualified
                            * FAW (Football Association of Wales) Leaders Coaching Award.

                .section__callout
                    :markdown
                        Check out our [before and after album](https://www.facebook.com/media/set/?set=a.592017807510760.1073741841.197244930321385&type=3&uploaded=4) on Facebook to see how we've helped out clients.

        hr#prices
        .container
            section.section--prices
                .section__title
                    h1 Prices
                .price__container
                    .price--small
                        .session 5 x sessions
                        .price 
                            .price__amount &pound;30 
                            .price__time per hour
                            .price__total (&pound;150)
                    .price--large
                        .session 10 x sessions
                        .price 
                            .price__amount &pound;28
                            .price__time per hour
                            .price__total (&pound;280)
                    .price--small
                        .session 20 x sessions
                        .price 
                            .price__amount &pound;25
                            .price__time per hour
                            .price__total (&pound;500)
                    .price__discount 20% off for students
        hr#contact
        .container
            section.section--contact
                .section__title
                    h1 Contact Us
                p Give us a call or fill out the form below.
                ul
                    li Lucy: 
                        a.button(href='tel:07921160070')
                            i.icon-phone 
                            | 07921 160 070
                    li Rhodri: 
                        a.button(href='tel:07929230739')
                            i.icon-phone 
                            | 07929 230 739
                #wufoo-r7x2s9
                    | Form not showing? Fill it out <a href="http://iestynw.wufoo.com/forms/r7x2s9">here</a>.
                script(type="text/javascript")
                    var r7x2s9;(function(d, t) {
                    var s = d.createElement(t), options = {
                    'userName':'iestynw', 
                    'formHash':'r7x2s9', 
                    'autoResize':true,
                    'height':'437',
                    'async':true,
                    'header':'hide'};
                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                    s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { r7x2s9 = new WufooForm();r7x2s9.initialize(options);r7x2s9.display(); } catch (e) {}};
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');
        footer
            p Copyright Be Your Best Personal Training &copy; 2013
            a(href='http://iestynwilliams.net')
                img(src='/images/iw.svg', alt='By Iestyn Williams')
        script(src='app.min.js')